Repository autonomi-ai/nos, pull requests merged in 2024-01, with the labels that each got.

#497 Various dev-ex improvements (runtime, logging etc)
  README.md
  docker/Dockerfile.gpu
  docker/agibuild.gpu.yaml
  nos/client/grpc.py
  nos/exceptions.py
  nos/executors/ray.py
  nos/managers/model.py
  nos/models/llama2_chat.py
  nos/protoc.py
  nos/server/_docker.py
  nos/server/_service.py
  nos/server/http/_service.py
  requirements/requirements.txt
  scripts/entrypoint.sh
  tests/test_exceptions.py
Labels: dev-ex

#498 Fix floating point memory specification in ModelSpec
  nos/common/helpers.py
  nos/models/llama2_chat.py
  nos/version.py
  tests/common/test_helpers.py
Labels: bug

#500 [blog] First blog post entry with assets
  docs/blog/.authors.yml
  docs/blog/assets/nos-banner-black.png
  docs/blog/index.md
  docs/blog/posts/01-hello-world.md
  docs/blog/posts/01-introducing-nos-blog.md
  docs/integrations/discord-skypilot.md
  mkdocs.yml
  nos/common/spec.py
  requirements/requirements.docs.txt
Labels: docs, blog

#503 Update README and blog post for release
  README.md
  docs/blog/posts/01-introducing-nos-blog.md
  docs/integrations/skypilot.md
  mkdocs.yml
Labels: blog

#507 [doc] Improved serve CLI documentation with serve YAML spec
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  docs/cli/serve.md
  docs/cli/serve.spec.yaml
  docs/cli/system.md
  docs/guides/serving-custom-models.md
  docs/quickstart.md
  examples/tutorials/01-define-custom-models/models/model.py
  examples/tutorials/01-define-custom-models/serve.yaml
  examples/tutorials/01-define-custom-models/tests/test_model.py
  mkdocs.yml
Labels: docs

#512 [docker] Add `py38` and `py310` docker images for `cu121`
  docker/agibuild.cu121.yaml
  makefiles/Makefile.agibuild.mk
Labels: distribution

#505 Update quickstart to use module interface
  docs/quickstart.md
Labels: docs

#513 Update CI to build/push `cu121` images on release
  .github/workflows/docker.yml
  makefiles/Makefile.base.mk
Labels: distribution, ci

#514 Remove `py311-cu118` and `py38-cu121`
  makefiles/Makefile.agibuild.mk
Labels: distribution, ci

#517 Support model configs w/o `model_cls` for model init on server start
  README.md
  examples/tutorials/04-multiple-models/serve.yaml
  examples/tutorials/05-serving-with-docker/README.md
  examples/tutorials/05-serving-with-docker/docker-compose.yml
  nos/cli/serve.py
  nos/hub/__init__.py
  nos/test/test_data/hub/custom_model/config-malformed-model-cls.yaml
  nos/test/test_data/hub/custom_model/config-malformed-model-method.yaml
  nos/test/test_data/hub/custom_model/config-malformed-model-path.yaml
  nos/test/test_data/hub/custom_model/config-with-existing-model-id.yaml
  nos/test/test_data/hub/custom_model/config-with-replicas.yaml
  tests/hub/test_hub.py
Labels: docs, dev-ex

#520 Updated examples with newer API and simpler SkyPilot integration
  docs/integrations/skypilot.md
  examples/docker/docker-compose.cpu.yml
  examples/docker/docker-compose.gpu-with-gateway.yml
  examples/docker/docker-compose.gpu.yml
  examples/skypilot/app/docker-compose.cpu.yml
  examples/skypilot/app/docker-compose.gpu.yml
  examples/skypilot/sky.yaml
  examples/tutorials/README.md
Labels: docs

#521 Support unnormalized model ids in HTTP service + Skypilot deployment docs
  docs/integrations/skypilot.md
  examples/skypilot/sky.yaml
  nos/server/http/_service.py
Labels: bug, docs

#522 [blog] NOS tutorials blog post
  docs/blog/posts/02-nos-tutorials.md
  mkdocs.yml
Labels: docs, blog

#526 Override `ModelDeploymentSpec` of registered models
  examples/tutorials/04-serving-multiple-models/serve.yaml
  nos/common/__init__.py
  nos/common/spec.py
  nos/hub/__init__.py
  nos/managers/model.py
  nos/server/_service.py
  tests/managers/test_model_manager.py
Labels: bug

#527 [docs] Updated SkyPilot integration docs with LLM examples.
  docs/assets/nos-skypilot-integration.png
  docs/integrations/skypilot.md
  examples/skypilot/sky.yaml
  examples/skypilot/tests/test_http_request.sh
  examples/skypilot/tests/test_openai_client.py
  examples/tutorials/03-llm-streaming-chat/models/chat.py
  mkdocs.yml
  nos/models/llm.py
Labels: docs

#530 [blog] Serving custom LLMs with SkyPilot blog post
  README.md
  docs/blog/assets/nos-phixtral.jpg
  docs/blog/posts/03-deploy-llms-on-a-budget.md
  docs/integrations/skypilot.md
  docs/quickstart.md
  mkdocs.yml
Labels: dev-ex, blog

#532 Update blog post with new README links
  README.md
  docs/blog/posts/03-serving-llms-on-a-budget.md
Labels: docs

#534 Migrate to `pydantic>=2.5`, `torch==2.1.1`, `ray[default]>=2.9`
  docker/Dockerfile.cpu
  docker/Dockerfile.gpu
  docker/agibuild.cpu.yaml
  docker/agibuild.gpu.yaml
  nos/common/runtime.py
  nos/common/spec.py
  nos/common/types.py
  nos/hub/__init__.py
  nos/managers/model.py
  nos/models/llm.py
  nos/server/http/_service.py
  nos/version.py
  requirements/requirements.server.txt
  requirements/requirements.txt
  tests/client/grpc/test_grpc_client_integration.py
  tests/common/test_common_spec.py
Labels: optimizations, distribution, dev-ex

#535 New `inf2` runtime support with `nos serve up`
  nos/cli/serve.py
  nos/cli/templates/docker-compose.serve.yml.j2
  nos/server/_runtime.py
  tests/server/test_inference_service_runtime.py
Labels: distribution

#537 New `inf2` embeddings service example
  examples/inf2/embeddings/README.md
  examples/inf2/embeddings/job-inf2-embeddings-deployment.yaml
  examples/inf2/embeddings/models/embeddings_inf2.py
  examples/inf2/embeddings/serve.yaml
  examples/inf2/embeddings/tests/test_embeddings_inf2.py
  examples/inf2/embeddings/tests/test_embeddings_inf2_client.py
  nos/neuron/device.py
  tests/neuron/test_neuron_device.py
Labels: feature, high-priority
